 /* --- Reset Styles --- */
 
 * {
     list-style: none;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html,
 body {
     height: 100%;
     width: 100%;
 }
 /* --- Layout Page Styles --- */
 
 @media screen and (max-width: 600px) {
     .col-25,
     .col-75,
     input[type=submit] {
         width: 100%;
         margin-top: 0;
     }
 }
 /* The navbar container */
 
 .topnav {
     overflow: hidden;
     background-color: none;
     padding: 1%;
     box-shadow: 0 2px 14px 0 rgb(202, 204, 204), 0 5px 14px 0 rgb(100, 100, 100);
 }
 /* Navbar links */
 
 .topnav a {
     float: center;
     display: block;
     color: #3B4259;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 /* Links - change color on hover */
 
 .topnav a:hover {
     background-color: #292F40;
     color: #BF9169;
 }
 /* --- Welcome Page Styles --- */
 
 body {
     background-color: #292F40;
     color: #3B4259;
     font-family: Sans-Serif;
     line-height: 18px;
 }
 
 #homeheading {
     text-align: center;
     padding: 50px 50px 50px;
     color: rgb(37, 25, 25);
     box-shadow: 0 2px 14px 0 rgb(202, 204, 204), 0 5px 14px 0 rgb(100, 100, 100);
 }
 
 .homebuttons {
     border: 5px;
     background-color: none;
     text-align: center;
     padding: 50px 50px 75px;
 }
 
 .button {
     border-radius: 20px;
     color: black;
     padding: 20px 32px;
     box-shadow: 0 2px 14px 0 rgb(202, 204, 204), 0 5px 14px 0 #BF9169;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }
 
 .button:hover {
     background-color: #BF9169;
     color: #3B4259;
 }
 
 .wrapper {
     background: #fff;
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     margin: 16px auto;
     max-width: 960px;
     padding: 5%;
     /* 18px / 800px */
     width: 85%;
 }
 /* --- Login/signup Page Styles --- */
 
 .login-container {
     border-radius: 5px;
     background-color: rgba(161, 139, 139, 0.479);
     padding: 20px;
 }
 
 .col-25 {
     float: left;
     width: 25%;
     margin-top: 6px;
 }
 
 .col-75 {
     float: left;
     width: 75%;
     margin-top: 6px;
 }
 
 .row:after {
     content: "";
     display: table;
     clear: both;
 }
 
 label {
     padding: 12px 12px 12px 0;
     display: inline-block;
 }
 
 input[type=text] {
     width: 100%;
     padding: 12px;
     border: 1px solid #3B4259;
     border-radius: 4px;
     resize: vertical;
 }
 
 input[type=password] {
     width: 100%;
     padding: 12px;
     border: 1px solid #3B4259;
     border-radius: 4px;
     resize: vertical;
 }
 
 input[type=submit] {
     background-color: #3B4259;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     float: right;
 }
 
 input[type=submit]:hover {
     background-color: rgba(65, 187, 243, 0.479);
 }
 
 #signup {
     padding: 12px 20px;
     display: inline-block;
 }
 /* --- User Show Page Styles --- */
 
 #userheading {
     text-align: center;
     padding: 50px 50px 50px;
     color: #292F40;
 }
 
 .currenthabits {
     text-align: center;
     padding: 50px 50px 50px;
     color: #292F40;
 }
 
 .show-container {
     border-radius: 5px;
     padding: 20px;
 }
 
 #habitlink:link,
 #habitlink:visited {
     background-color: #3B4259;
     color: #BF9169;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     border-style: outset;
     border-color: #BF9169;
     display: block;
 }
 
 #habitlink:hover,
 #habitlink:active {
     background-color: rgba(140, 37, 28, 0.863);
 }
 /* --- Habit Index Page Styles --- */