 /* --- Reset Styles --- */
 
 * {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 html,
 body {
     height: 100%;
     width: 100%;
 }
 /* --- Layout Page Styles --- */
 /* The navbar container */
 
 .topnav {
     overflow: hidden;
     background-color: none;
     padding: 14px 16px;
     box-shadow: 0 2px 14px 0 rgb(202, 204, 204), 0 5px 14px 0 rgb(100, 100, 100);
 }
 /* Navbar links */
 
 .topnav a {
     float: left;
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 /* Links - change color on hover */
 
 .topnav a:hover {
     background-color: #F2E3B3;
     color: #BF80A9;
 }
 /* --- Welcome Page Styles --- */
 
 body {
     background-color: #A69185;
     color: black;
     font-family: Sans-Serif;
     line-height: 18px;
 }
 
 #homeheading {
     text-align: center;
     padding: 50px 50px 50px;
     color: #BF80A9;
     box-shadow: 0 2px 14px 0 rgb(202, 204, 204), 0 5px 14px 0 rgb(100, 100, 100);
 }
 
 .homebuttons {
     border: 5px;
     background-color: none;
     text-align: center;
     padding: 50px 50px 75px;
 }
 
 .button {
     border-radius: 20px;
     color: #BF80A9;
     padding: 20px 32px;
     box-shadow: 0 2px 14px 0 #D9D382, 0 5px 14px 0 #D9D382;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }
 
 .wrapper {
     background: #fff;
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     margin: 16px auto;
     max-width: 960px;
     padding: 2.25%;
     /* 18px / 800px */
     width: 85%;
 }