<h2>Log In Below</h2>

<form method="POST" action="/login">

    <label for="email">Email:</label>
    <br>
        <input type="text" name="email" id="email">
    <br>
    <label for="password">Password:</label>
    <br>
        <input type="text" name="password" id="password">

    <input type="submit" value="Log In" id="submit">
</form>

<br>

<p> If you do not have an account yet you can <a href="/signup">Sign Up</a>.</p>