<div class="show-container">
<h1 id="userheading">Welcome Back <%=@user.name%>!</h1>


    <div class="currenthabits">
    <h4 id="userheading">Here are your current habits:</h4>
     <%@user.habits.each do |h|%>
        <ul>
            <li><a id="habitlink" href="/habits/<%= h.id%>"><%= h.habit%></a></li>
        <ul>
     <%end%>
    </div>

</div>

