<div class="show-container">
<h1 id="userheading">Welcome Back <%=@user.name.capitalize%>!</h1>


    <div class="current-habits">
    <h3 id="userheading">Current Habits</h3>
     <%@user.habits.each do |h|%>
   

            <a id="habitlink" href="/habits/<%= h.id%>"><%= h.habit%></a></li>

        <br>
     <%end%>
    </div>

</div>

