<div class="show-container">
<h1 id="userheading">Welcome Back <%=@user.name%>!</h1>


    <div class="currenthabits">
    <label for="currenthabits">Here are your current habits:</label>
     <%@user.habits.each do |h|%>
        <ul>
            <li><%= h.habit%></li>
        <ul>
     <%end%>
    </div>

</div>

