<div class="index-container">
    <h1 id="homeheading"> Habitual Habits</h1>

<br>
<hr>
<br>

<div class="homebuttons">
    <a href="/login" class="button">Log In</a> 

    <a href="/signup" class="button">Sign Up</a>
</div>

<br>

</div>