<div class="create-container">


    <h1>Create A New Habit <%=@current_user.name.capitalize%>!</h1>


<br>
<hr>
<br>



<form action="/habits" method="POST">
    
        <h4 style="text-align: center;">Pick A Habit From List</h4>
<br>
<hr>
<br>
        <div class="select-form">
            <%@habits.each do |h|%>
            <ul>
                <li>
                    <input type="checkbox" value="<%=h.id%>" name="habit_id">
                    <label for="<%=h.habit%>"><%=h.habit.capitalize%></label>
                </li>
            </ul>
            <%end%>
    </div>
<br>
<hr>
<br>
    <h4 style="text-align: center;">Or</h4>
<br>
    <div class="row">
        <div class="col-25">
         <label>New Habit:</label>
        </div>
        <div class="col-75">
            <input type="text" name="habit" id="create_habit">
        </div>
    </div>
    

    <div class="row">
         <input type="submit" value="Create Habit">
    </div>
</form>
</div>