<form action="/habits" method="POST">
    <label>Enter a Habit you would like to start:</label>
    <input type="text" name="habit" id="create_habit">
    <input type="submit" value="Create Habit">
</form>