<div class="update-container">

      <h2> Edit Your <%=@habit.habit.capitalize%> Habit</h2>

    <br>

    <form action="/habits/<%=@habit.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
            <div id="editinput">
              <input type="text" id="habit" name="habit" placeholder=<%=@habit.habit.capitalize%>>
            </div>
            <div id="update-btn">
              <input type="submit" class="button" value="Update <%=@habit.habit.capitalize%>">
            </div>
    </form>
<br>

</div>