<div class="habits-index-container">
  <h1><%=@current_user.name.capitalize%>'s Habits</h1>
<br>
    <div class="index-habits">
    
        <%@habits.each do |h|%>
         
            <h3><%=h.habit%>:</h3>
            <a href="/habits/<%=h.id%>/edit">Edit <%=h.habit%></a>
            <br>

        <% end %>
    </div>

</div>




