<p><%= @habit.habit %></p>

<form method="post" action="/habits/<%=@habit.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Habit">
</form>

<a href="/habits/<%=@habit.id%>/edit">Edit Habit</a>
<br>
<a href="/habits/new">Create a New Habit</a>