
<div class="hab-heading">
  <h2><%= @habit.habit.capitalize %></h2>
</div>
<br>

  <div class="hab-container">

    <div id="edit-btn">
          <a class="button" href="/habits/<%=@habit.id%>/edit">Edit Habit</a>
    </div>

    <br>

    <form method="post" action="/habits/<%=@habit.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <div id="delete-btn">
           <input type="submit" class="button" value="Delete Habit">
      </div>
    </form>
    
  

</div>